# deps
node_modules/

# next.js
.next/
out/

# build
build/
dist/

# env
.env
.env*.local

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
next-env.d.ts
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
